option domain-name "{{ DOMAIN_NAME }}";
option domain-name-servers {{ DOMAIN_DNS_SERVERS }};
default-lease-time {{ DEFAULT_LEASE_TIME }};
max-lease-time {{ MAX_LEASE_TIME }};
authoritative;
log-facility local7;
one-lease-per-client true;
allow booting;
allow bootp;

subnet {{ SUBNET_IP_ADDRESS }} netmask {{ NETMASK_IP_ADDRESS }} {
  range {{ DHCP_DYNAMIC_IP_RANGE }};
  option routers {{ GATEWAY_IP_ADDRESS }};
  option broadcast-address {{ BROADCAST_IP_ADDRESS }};
  default-lease-time {{ DEFAULT_LEASE_TIME }};
  max-lease-time {{ MAX_LEASE_TIME }};
  filename "pxelinux.0";

# serve clients by a MAC address
# partial MAC address can be used to limit by vendors
# in this example VirtualBox and SuperMicro are used
  class "VBox" {
    match if substring (hardware,1,3) = "08:00:27";
  }
  class "SuperMicro" {
    match if substring (hardware,1,3) = "00:25:90";
  }
# serve clients by partial hostname
  class "pxe" {
    match if substring(option host-name,0,2) = “pxe”;
  }
# pool of IPs for all classes defined above
  pool {
    range dynamic-bootp 192.168.1.40 192.168.1.41;
    allow members of "VBox";
    filename "pxelinux.0";
  }
  pool {
    range dynamic-bootp 192.168.1.42 192.168.1.43;
    allow members of "SuperMicro";
    filename "pxelinux.0";
  }
  pool {
    range dynamic-bootp 192.168.1.44 192.168.1.45;
    allow members of "pxe";
    filename "pxelinux.0";
  }
}
